<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/mbr-2.png" type="image/x-icon">
    <meta name="description" content="">


    <title>Home</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/dropdown/css/style.css">
    <link rel="stylesheet" href="assets/socicon/css/styles.css">
    <link rel="stylesheet" href="assets/theme/css/style.css">
    <link rel="stylesheet" href="assets/recaptcha.css">
    <link rel="preload"
        href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"
        as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap">
    </noscript>
    <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">





</head>

<body>

    <section data-bs-version="5.1" class="menu menu2 cid-sP8msof9lD" once="menu" id="menu2-0">

        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <div class="container">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="#">
                            <img src="assets/images/mbr-2.png" alt="" style="height: 3rem;">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7"
                            href="#">Bambo</a></span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                    data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                        <li class="nav-item"><a class="nav-link link text-black text-primary display-4"
                                href="index.html#team1-5">Filiales</a></li>
                    </ul>

                    <div class="navbar-buttons mbr-section-btn">
                        <a class="btn btn-primary display-4" href="#">
                            Se connecter
                        </a>
                        <a class="btn btn-primary display-4" href="#">
                            S'inscrire
                        </a>
                        <form style="display: inline-block;" action="" method="post">
                            <button class="btn btn-primary display-4" href="#">
                                Se déconnecter
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </section>

    <section data-bs-version="5.1" class="header8 cid-sP8n1S8d3Q" id="header8-2">




        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h3 class="mbr-section-title mbr-white mbr-fonts-style display-1">
                        <strong>Bambo Inc.</strong>
                    </h3>
                    <p class="mbr-text mbr-fonts-style mbr-white mb-4 display-1">Create your own website.<br><a
                            href="index.html#formbuilder-6" class="text-danger text-primary"><strong>Ouvrir une filiale
                                &gt;&gt;</strong></a></p>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="team1 cid-sP8oJexFnS" id="team1-5">



        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h1 class="mbr-section-title mbr-fonts-style align-left mb-4 display-2">Nos filiales</h1>

                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card-wrap">
                        <div class="image-wrap">
                            <a href="filiale-details.html"><img src="assets/images/mbr.jpg" alt=""></a>
                        </div>
                        <div class="content-wrap p-0">
                            <h5 class="mbr-section-title card-title mbr-fonts-style align-left m-0 display-7">
                                Bambo Dakar</h5>
                            <h4 class="mbr-section-title card-title mbr-fonts-style align-left m-0 display-6">
                                Issa Pouye</h4>
                            <h6 class="card-subtitle mbr-fonts-style mb-3 occupation display-7">A coté du rond point
                                Liberté 6</h6>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="card-wrap">
                        <div class="image-wrap">
                            <img src="assets/images/mbr-1.jpg" alt="">
                        </div>
                        <div class="content-wrap p-0">
                            <h5 class="mbr-section-title card-title mbr-fonts-style align-left m-0 display-7">
                                Bambo Thiès</h5>
                            <h4 class="mbr-section-title card-title mbr-fonts-style align-left m-0 display-6">
                                Macky SALL</h4>
                            <h6 class="card-subtitle mbr-fonts-style mb-3 occupation display-7">Promenade des
                                Thièssois&nbsp;</h6>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="card-wrap">
                        <div class="image-wrap">
                            <img src="assets/images/mbr-2.jpg" alt="">
                        </div>
                        <div class="content-wrap p-0">
                            <h5 class="mbr-section-title card-title mbr-fonts-style align-left m-0 display-7">
                                Bambo Tamba</h5>
                            <h4 class="mbr-section-title card-title mbr-fonts-style align-left m-0 display-6">
                                Marème F. SALL</h4>
                            <h6 class="card-subtitle mbr-fonts-style mb-3 occupation display-7">
                                Rond Point Police régional</h6>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section class="form cid-sP8pBdNxQJ" id="formbuilder-6">


        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto mbr-form">
                    <!--Formbuilder Form-->
                    <form action="" method="POST" class="mbr-form form-with-styler"
                        data-form-title="newFilialeForm">
                        <div class="form-row">
                            <div data-form-alert-danger="" class="alert alert-danger col-12">Oops...!
                                some problem!</div>
                        </div>
                        <div class="dragArea form-row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <h4 class="mbr-fonts-style display-5">Ajouter une nouvelle filiale</h4>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <hr>
                            </div>
                            <div data-for="nom" class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label for="nom-formbuilder-6"
                                    class="form-control-label mbr-fonts-style display-7">Nom</label>
                                <input type="text" name="nom" placeholder="Nom" data-form-field="nom"
                                    class="form-control display-7" required="required" value="" id="nom-formbuilder-6">
                            </div>
                            <div data-for="nomResponsable" class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label for="nomResponsable-formbuilder-6"
                                    class="form-control-label mbr-fonts-style display-7">Nom du responsable</label>
                                <input type="text" name="nomResponsable" placeholder="Nom complet du responsable"
                                    data-form-field="nomResponsable" class="form-control display-7" required="required"
                                    value="" id="nomResponsable-formbuilder-6">
                            </div>
                            <div data-for="photoResponsable" class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label for="photoResponsable-formbuilder-6"
                                    class="form-control-label mbr-fonts-style display-7">Photo du Responsable</label>
                                <input type="file" accept="image/*" name="photoResponsable"
                                    placeholder="Selectionner la photo du responsable"
                                    data-form-field="photoResponsable" class="form-control display-7"
                                    required="required" value="" id="photoResponsable-formbuilder-6">
                            </div>
                            <div data-for="email" class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label for="email-formbuilder-6"
                                    class="form-control-label mbr-fonts-style display-7">Email</label>
                                <input type="text" name="email" placeholder="Email" data-form-field="email"
                                    class="form-control display-7" required="required" value="" id="email-formbuilder-6">
                            </div>
                            <div data-for="telephone" class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label for="telephone-formbuilder-6"
                                    class="form-control-label mbr-fonts-style display-7">Téléphone:</label>
                                <input type="text" name="telephone" placeholder="Téléphone" data-form-field="telephone"
                                    required="required" class="form-control display-7" value=""
                                    id="telephone-formbuilder-6">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="adresse">
                                <label for="adresse-formbuilder-6"
                                    class="form-control-label mbr-fonts-style display-7">Adresse</label>
                                <textarea name="adresse" placeholder="Adresse" data-form-field="adresse"
                                    required="required" class="form-control display-7"
                                    id="adresse-formbuilder-6"></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <hr>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <p class="mbr-fonts-style display-7">Détails inauguration</p>
                            </div>
                            <div data-for="inaugure" class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <div class="form-control-label">
                                    <label for="inaugure-formbuilder-6" class="mbr-fonts-style display-7">Inaugurée
                                        ?</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" name="inaugure" data-form-field="inaugure"
                                        class="form-check-input display-7" value="Non" checked=""
                                        id="inaugure-formbuilder-6">
                                    <label class="form-check-label display-7">Non</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" name="inaugure" data-form-field="inaugure"
                                        class="form-check-input display-7" value="Oui" id="inaugure-formbuilder-6">
                                    <label class="form-check-label display-7">Oui</label>
                                </div>
                            </div>
                            <div data-for="dateInauguration" class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label for="dateInauguration-formbuilder-6"
                                    class="form-control-label mbr-fonts-style display-7">Date inauguration</label>
                                <input type="date" name="dateInauguration" data-form-field="dateInauguration"
                                    required="required" class="form-control display-7" value="2018-07-22"
                                    id="dateInauguration-formbuilder-6">
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary display-7">Sauvegarder</button>
                            </div>
                        </div>
                    </form>
                    <!--Formbuilder Form-->
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="footer7 cid-sP8mxlrjLu" once="footers" id="footer7-1">





        <div class="container">
            <div class="media-container-row align-center mbr-white">
                <div class="col-12">
                    <p class="mbr-text mb-0 mbr-fonts-style display-7">
                        © Copyright 2025 <strong>Bambo </strong>- All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </section>


    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/ytplayer/index.js"></script>
    <script src="assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="assets/theme/js/script.js"></script>
    <script src="assets/formoid.min.js"></script>




</body>

</html>